.header {
    padding: .12rem;

    &.bg-color {
        background-color: #ffffff;
    }
}

.swiper-container {
    padding: .12rem;
}

.rv-swiper {
    aspect-ratio: 1080 / 375;

    img {
        display: block;
        box-sizing: border-box;
        background-color: #fff;
        pointer-events: none;
    }
}

.home-nav {
    padding: .12rem;
    border-radius: .1rem;
}

.rank-number {
    color: #ccc;
    width: .16rem;
    height: .16rem;
    font-weight: 400;
    font-size: .14rem;
    text-align: center;
    line-height: 16px;
    margin-right: .04rem;

    &.top {
        color: #fff;
        background: linear-gradient(180deg, #fc3c48 -3.91%, #ffaeb4 96.09%);
        border-radius: .05rem 0;
    }
}

.rank-author {
    margin-top: .1rem;
}

.tabbar-item-text {
    font-weight: 600;
    color: #000;
}

.horizontal-tabbar {
    .rv-tabbar-item {
        flex-direction: row;

        .rv-tabbar-item__icon {
            margin-bottom: 0;
        }
    }
}
.copyright {
    padding-bottom: .16rem;
}
