.header {
    padding: .12rem;
}

.swiper-container {
    padding: .12rem;
}

.rv-swiper {
    aspect-ratio: 1080 / 375;

    img {
        display: block;
        box-sizing: border-box;
        background-color: #fff;
        pointer-events: none;
    }
}

.tabbar-item-text {
    font-weight: 600;
    color: #000;
}

.horizontal-tabbar {
    .rv-tabbar-item {
        flex-direction: row;

        .rv-tabbar-item__icon {
            margin-bottom: 0;
        }
    }
}
